body {
    background-color: burlywood;
}

#board {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#player {
    position: absolute;
    background-color: green;
    /* border-radius: 10vw; */
}

.enemy {
    position: absolute;
    background-color: red;
}

.health {
    position: absolute;
    width: 20vw;
}